/* General page styles */

/* header {
    font-family: "Jomolhari", serif;
  } */
  
  body {
    background-color: #312eca;
  }
  
  h1 {
    font-family: "Jomolhari", serif;
    background-color: #4d0080;
    color: #c9aee7;
    padding: 16px;
    margin-bottom: 5px;
  }
  
  #postName {
    color: #c9aee7;
  }
  
  main {
    font-family: "Jomolhari", serif;
    margin-top: -5px;
    background-color: #312eca;
  }
  
  .homepage-main {
    margin-top: 34px;
  }
  
  .user-name {
    background-color: #84a59d;
  }
  
  .post-main {
    margin-top: 34px;
  }
  
  /* Nav styles */
  
  .navBar {
    background-color: #9d34e4;
  }
  
  #logout {
    background-color: #6041d1;
  }
  
  /* Input/textarea styles */
  
  #titleInput,
  #bodyInput,
  #comment,
  #email-login,
  #password-login,
  #name-signup,
  #email-signup,
  #password-signup {
    background-color: #e5eaf5;
  }
  
  /* Button styles */
  
  .btn {
    background-color: #9690e7;
  }
  
  /* Card styles */
  
  .card-header {
    background-color: #3b349c;
  }
  
  .card-body {
    background-color: #9a95d8;
  }
  
  .card {
    background-color: #3423ce;
  }
  
  .card:hover {
    box-shadow: 0 0 10px #54127ae0;
    transform: scale(1.02);
    transition: all 0.3s ease;
  }